@media only screen and (max-width: 500px) {
    body {
      background-color: pink;
    }
  }
  
  .flex-container{
    display:flex;
    color: green;
    padding:5px; flex-direction:column;
  }
  
  .div-margin{
    margin: 5px;
  }